.login-form {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 15vh;
}
.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

ul {
  color: rgb(46, 46, 46);
}
.form-style {
  border-radius: 0.8rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
label {
  color: lavender;
  font-size: 1.5rem;
  flex: content;
  padding-right: 1.5rem;
}
input {
  padding: 0.5rem 0.2rem;
  font-size: 1.5rem;
  flex: content;
  border: none;
  border-radius: 4px;
}
.button-login {
  padding: 10px;
  display: block;
  background: linear-gradient(to left, #3a6186, #89253e);
  background-size: 150%;
  color: whitesmoke;
  padding: 1rem 2.5rem;
  margin: 0px auto;
  width: auto;
  transition: ease-in-out 0.3s;
  border-radius: 3em;
}

.button-login:hover {
  background: linear-gradient(to right, #3a6186, #89253e);
  padding: 1rem 3.5rem;
  color: white;
}

p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title-text {
  color: lavender;
  text-decoration: underline;
}

.errorlist {
  color: rgb(255, 0, 0);
  font-size: 12px;
}

@media screen and (max-width: 450px) {
  label {
    font-size: 1rem;
  }
  .main-section {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  .login-form {
    padding-top: 2rem;
  }
  input {
    font-size: 1rem;
  }
}

.social-btn {
  background-color: rgb(85, 85, 177);
  color: rgb(255, 255, 255);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.social-btn:hover {
  background-color: rgb(60, 60, 122);
  color: gray;
}

.helptext {
  color: gray;
}
