* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
div.container {
  margin: 0px;
  display: flex;
  align-items: top;
  min-height: 100vh;
  background-color: #d4d4fc;
}

.content-section {
  max-width: 1440px;
  margin: 0px auto;
  margin-top: 10vh;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
fieldset {
  border: 1px solid rgb(187, 187, 187);
  /* border: none; */
  border-radius: 1rem;
  padding: 2rem 10vw;
  background-color: #bbbbfa;
  /* padding-bottom: ; */
}
legend.legend {
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #bbbbfa;
  border-radius: 10px;
  border: 1px solid rgb(199, 198, 198);
}

a {
  text-decoration: none;
}
label {
  font-size: 1.5rem;
  /* padding: 1.5rem; */
}

input {
  padding: 0.5rem 0.8rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid rgb(211, 210, 210);
}

.button-login {
  padding: 1rem 2.5rem;
  border: none;
  background-color: rgb(88, 141, 255);
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 1rem;
}

.text-additive {
  padding: 10px;
  font-size: 1rem;
}

a.link {
  color: rgb(255, 19, 19);
}
