{% extends 'index.html' %}
{% block content %}
<br><br>
  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Welcome to eNepal</h1>

    <!-- Resources Section -->
    <h2>Resources to Read</h2>
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Science</h4>
          <div class="card-body">
            <i class="fas fa-microscope" style="font-size: 800%; color: #009879;"></i>
            <p class="card-text">We have online resources for science related topics to read.
             We have covered the topics that are required for the students of primary and secondary level.
             Detail explanation of every topics is covered in this resource.
             You can read it online or you can download as pdf and save it in your device</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Mathematics</h4>
          <div class="card-body">
            <i class="fas fa-calculator" style="font-size: 800%; color: #c82033 "></i><br>
            <p class="card-text">
              Detailed and step wise explanation of mathematical problems have been covered in this section.
              Exercise Problems and solved examples are covered for mathematics in this section.
              You can solve problems online or download the pdf file and solve as per your requirements.
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Computer Science</h4>
          <div class="card-body">
            <i class="fas fa-laptop-code" style="font-size: 800%; color: #7ec5df"></i>
            <p class="card-text">
              This section covers basic ideas about computer science.
              Detailed explanation of every topic is covered in this section.
              Topics like Q-basic , Basic Html, and many more is covered to aid the necessity of computer science students.
            </p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Videos Section -->
    <h2>Our Video Resources</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://images.unsplash.com/photo-1517976487492-5750f3195933?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Science</a>
            </h4>
            <p class="card-text">
              Check out our video tutorials related to science and technology.
              Our full video tutorials will guide you in learning and understanding the concepts of science from fundamental
              to core.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://images.unsplash.com/photo-1509228468518-180dd4864904?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Mathematics</a>
            </h4>
            <p class="card-text">
              Check out our video tutorials related to Mathematics.
              Our video tutorials contain topics such as algebra, geometry, trigonometry and others.
              You can download our videos or watch online.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Computer Science</a>
            </h4>
            <p class="card-text">
              Check out tuorials related to Computer Science.
              You can learn the basics of Computer science, Q-basic, Html and many other topics in detail.
            </p>
          </div>
        </div>
      </div>
      <br>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Four</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Five</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Project Six</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <hr/>
    <br><br>
    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>eNepal Features</h2>
        <p>Our Online Platform includes:</p>
        <ul>
          <li>
            <strong>Read & Write Articles</strong>
          </li>
          <li>Free Resources</li>
          <li>Free e-books</li>
          <li>Video Tutorials</li>
          <li>Free exercise problems with solutions</li>
        </ul>
        <p>
          eNepal offers free resources to read and video tutorials to watch. Covers detailed explanation of every topics with exercise problems
          and solutions.Furthermore, eNepal offers writing and reading Articles from various users.
          Users can view other's articles and learn something new and expand their knowledge.
          Users can create and update their articles and contribute to our learning society.
        </p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="https://images.unsplash.com/photo-1574758324765-a29c77fb9c91?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Smiling kid">
      </div>
    </div>
    <!-- /.row -->

    <hr>
{% endblock content %}
