{% extends 'base.html' %}
{% load static %}
{% block add-styles %}

<link rel="stylesheet" href="{% static 'css/user-forms.css'%}">

{% endblock %}
{% block content %}
<div class='form-wrapper d-flex align-items-center justify-content-center pt-5 '>
    <div class='container-fluid main-section col-xl-4 col-lg-5 col-md-8 col-sm-12 mx-auto p-5 bg-gradient form-style'>
        <h4 class='text-center text-light pb-4'> Forgot password ?</h4>

        <p class='text-muted text-right'>Please Enter your Email below</p>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class='btn btn-info py-3 px-5 rounded-pill'> Reset Password</button>
        </form>
    </div>
</div>
{% endblock content %}
