{% extends 'base.html'%}

{% load static %}

{% block add-styles %}

<link rel="stylesheet" href="{% static 'css/user-forms.css'%} ">
{% endblock %}


{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid mx-auto h-100 register-form border-0 ">
        <div class="container-fluid main-section col-xl-4 col-lg-5 col-md-8 col-sm-12 mx-auto p-5 bg-gradient form-style">
        <div class="content-section">

            <form method="POST" class=''>
                {% csrf_token %}
                <h1 class="title text-white">Join Today</h1>
                {{form.as_p}}
                <button class="button-login border-0" type="submit">Sign Up</button>
            </form>

            <div class="suggestion-text">
                <small class="text-info">Already have an account?
                    <a class="link text-warning" href="{% url 'login'%}">Sign In  &rarr;</a>
                </small>
            </div>
            <label for="" class="label">Or Sign Up With</label><br>
            <div class="field">
                <div class="control">
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block social-btn">
                        <span class="icon">
                            <i class="fab fa-facebook"></i>Facebook
                        </span>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
